<section class="content-section" id="registration-section">
	<h3>Registration</h3>
	<input type="text" name="reg-username" id="reg-username" value="" placeholder="Username" class="form-element text" />
	<input type="text" name="reg-email" id="reg-email" value="" placeholder="Email address" class="form-element text" />
	<input type="password" name="reg-password" id="reg-password" value="" placeholder="Password" class="form-element text" />
	<button class="add-action form-element button" data-section-id="registration">Registration</button>
</section>