$color-red: #ff0000;
$color-blue: #0000ff;
$color-silver: silver;
$color-white: #ffffff;
$color-green: #7c9824;
$color-lightgreen: #90d49c;
$color-lightgrey: #e6e8e6;
$color-lightblue: #1BBCF2;
$color-yellow: #F2EF1B;

$font-arial: Arial;

body {
	margin: 0;
	padding: 0;
	background: $color-silver;
	font-family: $font-arial;
	
	h1, h2, h3 {
		margin: 0;
	}
	
	p {
		color: $color-red;
	}
}

.page-wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

.content {
	max-width: 800px;
	margin: 30px auto;
	background: $color-white;
	padding: 10px;
	border-radius: 5px;
	
	.main-menu {
		width: 100%;
		display: inline-block;
		margin-bottom: 15px;

		ul {
			padding-left: 0;
			
			.menu-item {
				list-style: none;
				background: $color-lightblue;
				float: left;
				padding: 7px;
				margin-right: 10px;
			}
			
			.menu-link {
				color: $color-white;
				text-decoration: none;
				
				&.active {
					color: $color-yellow;
				}
				
				&:hover {
					color: $color-yellow;
				}
			}
		}
	}
	
	.content-section {

		.form-element {
			margin-top: 10px;
			
			&.text {
				width: 98%;
				display: inline-block;
				padding: 7px 5px;
				border: 1px solid $color-lightgrey;
			}
			
			&.button {
				padding: 10px 20px;
				background: $color-green;
				color: $color-white;
				border: 1px solid $color-lightgreen;
				cursor: pointer;
				border-radius: 3px;
			}
			
			&.textarea {
				width: 98.8%;
				height: 100px;
				border: 1px solid $color-lightgrey;
			}
		}

		&.visible {
			display: block;
		}
		
		.article {
			width: 97%;
			display: inline-block;
			margin: 10px auto;
			background: #efefef;
			padding: 10px;
			
			.article-header {
				font-size: 18px;
				color: $color-lightblue;
				margin-bottom: 10px;
			}
			
			.article-content {
				font-size: 15px;
			}
		}
	}
	
	.hidden {
		display: none;
	}
}